.date-picker-wrapper {
  position: relative;
  display: inline-block;
}

.date-picker-input {
  width: 100%;
  padding: 8px 36px 8px 10px;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  background-color: var(--dark-bg-color);
  color: #ffffff;
}

.date-label {
  display: block;
  color: #ffffff;
  margin-bottom: 2px;
  font-size: 12px;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ffffff;
}

.status {
  font-weight: bold;
}

.status.caution {
  color: #ffb400;
}

.status.normal {
  color: #00ff00;
}

.status.critical {
  color: #ff0000;
}

tr {
  transition: background-color 0.2s ease-in-out;
}

tr:hover {
  background-color: var(--dark-bg-color);
}

.oil-analysis-card {
  background-color: var(--dark-bg-color);
  color: #fff;
  border-radius: 8px;
  border: none;
}

.oil-analysis-scrollable {
  max-height: 400px;
  overflow-y: auto;
}

.oil-analysis-table {
  width: 100%;
  border-collapse: collapse;
}

th {
  /* color: #fff; */
  font-weight: bold;
  /* background-color: var(--bg-color); */
  padding: 15px;
  text-align: left;
}

td {
  /* color: #fff; */
  padding: 15px;
}

tbody tr {
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

tbody tr:hover {
  background-color: var(--dark-bg-color);
}

tbody tr td {
  border: none;
}

.status {
  font-weight: bold;
}

.status.caution {
  color: #ffb400;
}

.status.normal {
  color: #00ff00;
}

.status.critical {
  color: #ff0000;
}

.oil-analysis-table tbody tr:hover {
  background-color: var(--dark-bg-color) !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* tbody tr {
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
}

tbody tr:hover {
  background-color: var(--dark-bg-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
} */


.oil-analysis-table thead th {
  /* background-color: #24314D; */
  /* color: #fff; */
}

.oil-analysis-card {
  background-color: var(--bg-color);
  ;
}

/* Header section styling */
.header-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Dropdown for Day/Night */
.shift-dropdown {
  background-color: var(--dark-bg-color);
  color: #fff;
  border: 1px solid #ccc;
  padding: 8px 20px;
}

.dropdown-menu {
  background-color: var(--dark-bg-color);
  color: white;
}

/* Shift button styling */
.shift-btn {
  padding: 8px 20px;
  font-weight: bold;
  border: none;
  color: white;
}

.shift-btn.active {
  background-color: #6c757d;
  color: white;
}

.shift-btn:not(.active) {
  background-color: transparent;
  border: 1px solid #6c757d;
}

/* Date pickers */
.date-picker-section {
  align-items: center;
}

.date-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date-picker-label {
  margin-bottom: 4px;
  color: #ccc;
  font-size: 14px;
}

.date-picker-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.date-picker-input {
  background-color: var(--dark-bg-color);
  border: 1px solid #5A6E84;
  padding: 8px 36px 8px 12px;
  /* Padding adjusted to fit the icon inside */
  font-size: 14px;
  border-radius: 8px;
  /* Rounded corners */
  width: 160px;
}

.calendar-icon {
  position: absolute;
  right: 12px;
  width: 36px;
  font-size: 18px;
  color: #fff;
}

.date-picker-input:focus {
  outline: none;
  border-color: var(--dark-bg-color);
}

.form-control {
  box-shadow: none;
}

/* Card for report data */
.oil-analysis-report-card {
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 20px;
}

/* Additional Table Styling */
.detailed-analysis-table {
  margin-top: 30px;
}

.detailed-table {
  width: 100%;
  border-collapse: collapse;
}

.detailed-table td {
  padding: 12px;
  border-bottom: 1px solid #6c757d;
  border-right: 1px solid #6c757d;
  color: #fff;
  /* background-color: var(--dark-bg-color); */
}

.detailed-table tr:nth-child(even) {
  background-color: var(--bg-color);
}

.detailed-analysis-table .section-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.section-title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.machine-info-section {
  margin-bottom: 20px;
}

.machine-info-table {
  width: 100%;
  border-collapse: collapse;
}

.machine-info-table tr {
  height: 40px;
}

.icon-cell {
  width: 40px;
}

.info-icon {
  font-size: 20px;
  color: #6c757d;
}

.label-cell {
  font-size: 14px;
  color: #ccc;
  padding-right: 8px;
  white-space: nowrap;
}

.dashed-line {
  border-bottom: 1px dashed #ccc;
  padding: 0 8px;
  width: 100%;
  text-align: left;
}

.dashed-text {
  font-size: 14px;
  text-align: left;
}

/* Styling for other content */
.oil-analysis-report-card {
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 20px;
}

/* Modal */

.modal-details-content p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  font-weight: 300;
  background-color: var(--dark-bg-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-header-content h4,
.modal-header-content p {
  display: flex;
  align-items: center;
  margin: 0;
}

.modal-header-content p {
  font-size: 18px;
}