
.table.no-border {
    width: '100%'; 
    margin: 20px 0px 10px 0px; 
    border: 1px solid #a7b1ce;
}
.table.no-border > *, .table.no-border > * > *{
    border: 0px !important;
    font-weight: bold;
}
.table.no-border > :not(caption) > * > *{
    border: 0px !important;
}
