.gantt-scheduler {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scheduler-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
}
.scheduler-tool {
  display: flex;
  flex-direction: row;
}
.timeline {
  display: flex;
}

.timeline-slot {
  flex: 1;
  border-right: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}

.scheduler-body {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
}

.task-list-container {
  width: 20%;
  padding: 10px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.task-list-container.light-mode {
  background-color: #f9f9f9;
  color: var(--dark-text-color);
}

.task-list-container.dark-mode {
  background-color: var(--dark-text-color);
  color: #fff;
  border-right: 1px solid #555;
}

.resources {
  flex-grow: 1;
  overflow-x: auto;
  padding: 10px;
  width: 80%;
}

.resources.light-mode {
  background-color: #fff;
  color: var(--dark-text-color);
}

.resources.dark-mode {
  background-color: #2c2c2c;
  color: #fff;
}

.resource-row {
  display: flex;
  margin-bottom: 10px;
}

.resource-info {
  width: 200px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.tasks {
  flex-grow: 1;
  display: flex;
}

.task-item {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 4px;
}



/* Responsive Layout */
@media (max-width: 1200px) {
  .scheduler-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-content {
    flex-direction: column;
  }

  .resources,
  .task-list-container {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .custom-table th, .custom-table td {
    padding: 5px;
  }

  .scheduler-header {
    align-items: center;
  }
  .react-datepicker-wrapper {
    padding: 0 10px 10px 60px;
  }
  .scheduler-tool {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  .toggle-button {
    display: none;
  }

  .toggle-theme-label {
    margin-top: 10px;
  }

  .task-list-container, .resources {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .task-list {
    height: max-content;
  }
}

@media (max-width: 768px) {
  .custom-table th, .custom-table td {
    padding: 5px;
  }

  .scheduler-header {
    align-items: center;
  }
  .react-datepicker-wrapper {
    padding: 0 10px 10px 60px;
  }
  .scheduler-tool {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  .toggle-button {
    display: none;
  }

  .toggle-theme-label {
    margin-top: 10px;
  }

  .task-list-container, .resources {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .task-list {
    height: max-content;
  }
}

@media (max-width: 425px) {
  .scheduler-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .scheduler-header {
    align-items: center;
  }
  .react-datepicker-wrapper {
    padding: 0 10px 10px 60px;
  }
  .scheduler-tool {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  .toggle-button {
    display: none;
  }

  .toggle-theme-label {
    width: 100%;
    text-align: left;
  }

  .custom-table th, .custom-table td {
    padding: 3px;
    font-size: 12px;
  }

  .task-list-container, .resources {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .task-list {
    height: max-content;
  }
}