.task-list {
  padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .gantt-task-list-title {
    text-align: center;
    font-size: 16px;
    padding: 10px;
  }
  .task-list-item {
    padding: 10px;
    margin-bottom: 10px;
    /* background-color: #fff; */
    color: var(--dark-text-color);
    cursor: pointer;
    border-radius: 8px;
  }
    .list-item-span {
        margin: 0;
        padding: 0;
        font-size: 13px;
        color: white;
    }

    .bold {
        font-weight: bold;
    }
  