body[data-layout-mode="dark"] {
    .ore-body-item,
    .truck-item {
        display: flex;
        width: 80px;
        height: 100%;
        padding: 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #535E77;
        margin-bottom: 16px;
        &.filled {
            background-color: #283655;
            border-width: 1px;
        }
        &.empty {
            background-color: #24314D;
            border-width: 0;
        }
    }
    
    .ore-body-item .ore-body-label,
    .truck-item .truck {
        color:  #73D13D;
        text-align: right;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin: 0px;
    }

    .ore-body-item .ore-body-label {
        color: #FFF;
    }
    
    .truck-item .operator {
        display: flex;
        padding: 2px 8px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 99px;
        background: #535E77;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin: 0px
    }
    
    .show-more-button {
        width: 100%;
        padding: 8px 16px;
        border: 1px solid white;
        border-radius: 4px;
        background-color: #283655;
        color: white;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px
    }
}

body[data-layout-mode="light"] {
    .ore-body-item,
    .truck-item {
        display: flex;
        width: 80px;
        height: 100%;
        padding: 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #E0E0E0;
        margin-bottom: 16px;
        &.filled {
            background-color: #FFF;
            border-width: 1px;
        }
        &.empty {
            background-color: #E0E0E0;
            border-width: 0;
        }
    }
    
    .ore-body-item .ore-body-label,
    .truck-item .truck {
        color: #73D13D;
        text-align: right;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin: 0px;
    }
    
    .ore-body-item .ore-body-label {
        color: #2A2A2A;
    }
    
    .truck-item .operator {
        display: flex;
        padding: 2px 8px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 99px;
        background: #2A2A2A;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin: 0px;
        color: white;
    }
    
    .show-more-button {
        width: 100%;
        padding: 8px 16px;
        border: 1px solid white;
        border-radius: 4px;
        background-color: #283655;
        color: white;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px
    }
}
