.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.auth-logo > img{
  max-width: 250px;
  width: 100%;
}
.mapboxgl-ctrl-scale, .mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib-inner{
  display: none !important;
}
body[data-layout-mode="dark"] {
  .customSegmentBackground {
    background-color: #283655;
  }

  .ant-segmented-item-label {
    color: #c3cbe4;
  }

  .ant-segmented-item-selected {
    .ant-segmented-item-label {
      color: #232323;
    }
  }

  /* .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution {
    filter: invert(10%) hue-rotate(180deg) brightness(95%) contrast(90%);
  } */

}

body[data-layout-mode= "dark"] {
  .dropDownArrow {
                color: white !important; 
        }

  .ant-select-item-option-selected {
      background-color: #5e6c86 !important; /*Customize background color of selected item*/
      color: white !important; /* Customize text color of selected item */
      font-weight:normal !important;
    }
}

body[data-layout-mode= "light"] {
  .dropDownArrow {
                color: grey !important;
        }

  .ant-select-item-option-selected {
      background-color: #9A9A9A !important; /* Customize background color of selected item */
      color: white !important; /* Customize text color of selected item */
      font-weight:normal !important;
    }
}

body[data-layout-mode="light"] {
  .customSegmentBackground {
    background-color: #c3c3c3;
  }

  /* .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution {
    filter: invert(80%) hue-rotate(180deg) brightness(95%) contrast(50%);
  } */

}

.activemarker {
  background-image: url('./assets/images/equipment/check_active.png');
  background-size: cover;
  width: 86px;
  height: 60px;
  cursor: pointer;
}

.animationmarker{
  background-image: url('./assets/images/equipment/check_active.png');
  background-size: cover;
  width: 43px;
  height: 30px;
  cursor: pointer;
}

.delaymarker {
  background-image: url('./assets/images/equipment/check_delay.png');
  background-size: cover;
  width: 86px;
  height: 60px;
  cursor: pointer;
}

.customSegmentLabel {
  label {
    margin-bottom: 0;
  }
}

.my-custom-ctrl-group {
  position: absolute;
  z-index: 9;
  right: 10px;
  top: 335px;
}
.my-bounding-box-group{
  position: absolute;
  z-index: 9;
  right: 10px;
  top: 157px;
}
.my-custom-point-group{
  position: absolute;
  z-index: 9;
  right: 10px;
  top: 197px;
}
.mapboxgl-ctrl > button {
  width: 32px !important;
  height: 32px !important;
}
.ant-color-picker{
  position: absolute;
  z-index: 9999999;
}
.route-item{
  color: white;
  border-bottom: 1px dashed #787878;
  cursor: pointer;
}
.route-item > i {
  right: 25px;
  font-size: 20px;
  position: absolute;
}
.route-item:hover {
  background-color: #212529;
}
.arrow-png {
  width: 20px;
  height: 20px;
  background-image: url('./assets/images/right-arrow-svgrepo-com.svg'); /* Use absolute path here */
  background-size: cover;
  background-repeat: no-repeat;
  transform-origin: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}