@import "../../assets/scss/app.scss";


body[data-layout-mode="dark"] {
    .itemActual {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }
    .itemPlanned {
        font-size: 18px;
        color: #b3b3b3;
    }
}

body[data-layout-mode="light"] {
    .itemActual {
        font-size: 18px;
        color: #283655;
        font-weight: 500;
    }
    .itemPlanned {
        font-size: 18px;
        color: #4c4c4c;
    }
}

.fleet-cards-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 0 auto; 
    gap: 25px; 
  }

  .fleet-card {
    flex: 1 1 calc(24% - 10px); 
    max-width: calc(24% - 10px); 
    background-color: #283655;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px; 
  }

  @media screen and (max-width: 1200px) {
    .fleet-card {
      flex: 1 1 calc(48% - 10px);
      max-width: calc(48% - 10px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .fleet-card {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }