.time-slider-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #293754;
    /* border-radius: 10px; */
    width: calc(100% - 24px) !important;
    margin-left: 12px;
    margin-right: 12px;
}

.speed-indicator {
    margin: 0 20px 0 10px;
    width: 80px;
    font-weight: bold;
}

.time-value {
    margin-left: 10px;
    font-weight: bold;
    color: gold;
}

.ant-slider {
    flex-grow: 1;
    margin: 0 15px;
}

.ant-slider-mark-text {
    font-size: 12px;
}
.ant-select-arrow{
    color: white !important;
}
.ant-select-selector{
    background-color: #293754 !important;
    color: white !important;
}
.ant-slider-rail{
    background-color: rgb(107 107 107) !important;
}
.ant-slider-track{
    background-color: #37a300 !important;
}
.ant-slider-mark-text{
    color: white !important;
}
:where(.css-dev-only-do-not-override-2mb38x).ant-btn.ant-btn-icon-only .anticon{
    font-size: 22px !important;
}

